
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'navbar navbar navbar navbar navbar navbar' 
    'title title title title title title'
    'northam northam northam northam northam northam'
    'southam southam southam southam southam southam'
    'europe europe europe europe europe europe'
    'asia asia asia asia asia asia'
    'footer footer footer footer footer footer';
    font-family: 'Raleway', sans-serif;
    background-color: #EBDED7;
}
  
@media only screen and (max-width: 1200px) {
    body{
        grid-template-areas: 
        'header'
        'navbar'
        'title'
        'northam'
        'southam'
        'europe'
        'asia'
        'footer';
    }
    body > div{
        margin: 1em .5em;
    }
}

  body > div {
    text-align: center;
    font-size: 30px;
}
  

.header{
    grid-area: header;
    height: 5em;
    padding: 1em;
    color: #2D475E;
    background-color: #EBDED7;
}

.header img{
    width: 4em; 
    height: 4em; 
    float: left; 
    margin-top: 0;
    transform: translateY(-10%);
}

@media only screen and (max-width: 1200px){
   .header img{
        display: block;
        float: none;
        margin: auto;
        transform: translateY(0);
    }
    .header{
        height: auto;
        padding: .5em;
        margin: 0;
    }
}

.heading h1{
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    line-height: 1em;
    display: inline-block;
}

@media only screen and (max-width: 1650px){
    .heading h1{
        font-size: 1.5em;
        display: block;
    }
    .header img{
        display: block;
        float: none;
        margin: auto;
        transform: translateY(0);
    }
    .header{
        height: auto;
        padding: .5em;
        margin: 0;
    }
}

.navbar {
    grid-area: navbar;
    background-color: #584F48;
    height: 3em;
    padding: 1em;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    display: block;
    width: 25%;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .navbar, .navbar ul{
        margin: 0;
        
    }
    .navbar ul li{
        margin: 0em;
        padding: 0 0.1em;
    }
    .navbar ul li a{
        margin: 0 0.5em; 
    }
}



.navbar ul li a{
    color: #EBDED7;
    text-decoration: none;
    font-size: 2em;
    line-height: 0.5;
}

@media only screen and (max-width: 800px){
    .navbar ul li{
        margin: 0 0.5em;
    }
} 

.navbar ul li a:hover{
    color: white;
}

.title{
    grid-area: title;
    display: block;
    width: 100%;
    font-size: 3em;
    color: #2D475E;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 3em 0 3em;
}

@media only screen and (max-width: 1200px){
    .title{
        margin: 0;
        font-size: 3em;
        width:100%;
        padding:1em;
    }
}

@media only screen and (max-width: 750px){
    .northamerica{
      margin:0;
      padding: 2em;
      grid-template-areas: 
      'northa'
      'pic1'
      'pic2' 
      'pic3' 
      'pic4'
      'pic5' 
      'pic6' 
      'pic7' 
      'pic8';
      grid-gap: .5em;
      }
  }

.northamerica{
    grid-area: northam;
    display: grid;
    width: 100%;
    padding: 0em 2em 1em 2em;
    grid-template-areas: 
    'northa northa northa northa'
    'pic1 pic2 pic3 pic4'
    'pic5 pic6 pic7 pic8';
    grid-gap: .5em;
}

@media only screen and (max-width: 1200px){
    .northamerica{
        margin:0;
        padding: 1em;
        grid-template-areas: 
        'northa northa'
        'pic1 pic2' 
        'pic3 pic4'
        'pic5 pic6' 
        'pic7 pic8';
        grid-gap: .5em;
    }
}

@media only screen and (max-width: 750px){
    .northamerica{
      margin:0;
      padding: 2em;
      grid-template-areas: 
      'northa'
      'pic1'
      'pic2' 
      'pic3' 
      'pic4'
      'pic5' 
      'pic6' 
      'pic7' 
      'pic8';
      grid-gap: .5em;
      }
  }

.northamerica h3{
    grid-area: northa;
    font-size: 3em;
    text-transform: uppercase;
    color: #2D475E;
    margin-top: .5em;
}

.southamerica{
    grid-area: southam;
    display: grid;
    width: 100%;
    padding: 0em 2em 1em 2em;
    grid-template-areas: 
    'sura sura sura sura'
    'pic1 pic2 pic3 pic4'
    'pic5 pic6 pic7 pic8';
    grid-gap: .5em;
}

@media only screen and (max-width: 1200px){
    .southamerica{
        margin:0;
        padding: 1em;
        grid-template-areas: 
        'sura sura'
        'pic1 pic2' 
        'pic3 pic4'
        'pic5 pic6' 
        'pic7 pic8';
        grid-gap: .5em;
    }
}

@media only screen and (max-width: 750px){
    .southamerica{
      margin:0;
      padding: 2em;
      grid-template-areas: 
      'sura'
      'pic1'
      'pic2' 
      'pic3' 
      'pic4'
      'pic5' 
      'pic6' 
      'pic7' 
      'pic8';
      grid-gap: .5em;
      }
  }

.southamerica h3{
    grid-area: sura;
    font-size: 3em;
    text-transform: uppercase;
    color: #2D475E;
    margin-top: 1em;
}

.europe{
    grid-area: europe;
    display: grid;
    width: 100%;
    padding: 0em 2em 1em 2em;
    grid-template-areas: 
    'europa europa europa europa'
    'pic1 pic2 pic3 pic4'
    'pic5 pic6 pic7 pic8';
    grid-gap: .5em;
}

@media only screen and (max-width: 1200px){
    .europe{
        margin:0;
        padding: 1em;
        grid-template-areas: 
        'europa europa'
        'pic1 pic2' 
        'pic3 pic4'
        'pic5 pic6' 
        'pic7 pic8';
        grid-gap: .5em;
    }
}

@media only screen and (max-width: 750px){
    .europe{
      margin:0;
      padding: 2em;
      grid-template-areas: 
      'europa'
      'pic1'
      'pic2' 
      'pic3' 
      'pic4'
      'pic5' 
      'pic6' 
      'pic7' 
      'pic8';
      grid-gap: .5em;
      }
  }

.europe h3{
    grid-area: europa;
    font-size: 3em;
    text-transform: uppercase;
    color: #2D475E;
    margin-top: 1em;
}

.asia{
    grid-area: asia;
    display: grid;
    width: 100%;
    padding: 0em 2em 1em 2em;
    grid-template-areas: 
    'asian asian asian asian'
    'pic1 pic2 pic3 pic4'
    'pic5 pic6 pic7 pic8';
    grid-gap: .5em;
}

@media only screen and (max-width: 1200px){
    .asia{
        margin:0;
        padding: 1em;
        grid-template-areas: 
        'asian asian'
        'pic1 pic2' 
        'pic3 pic4'
        'pic5 pic6' 
        'pic7 pic8';
        grid-gap: .5em;
    }
}

@media only screen and (max-width: 750px){
    .asia{
      margin:0;
      padding: 2em;
      grid-template-areas: 
      'asian'
      'pic1'
      'pic2' 
      'pic3' 
      'pic4'
      'pic5' 
      'pic6' 
      'pic7' 
      'pic8';
      grid-gap: .5em;
      }
  }

.asia h3{
    grid-area: asian;
    font-size: 3em;
    text-transform: uppercase;
    color: #2D475E;
    margin-top: 1em;
}


.northamerica .image, .southamerica .image, .europe .image, .asia .image {
    width: 100%;
    height: 10em;
    display: inline-block;
}

@media only screen and (max-width: 750px){
    .northamerica .image, .southamerica .image, .europe .image, .asia .image {
        width: 100%;
        height: 12em;
        display: inline-block;
    }
  }

.northamerica a, .southamerica a, .europe a, .asia a{
    text-decoration: none;
    color: black;
    background-color: white;
    border: #2D475E .1em solid;
}

.northamerica .image:hover, .southamerica .image:hover, .europe .image:hover, .asia .image:hover{
    transform: scale(2);
}


@media only screen and (max-width: 1200px){
    .northamerica .image:hover, .southamerica .image:hover, .europe .image:hover, .asia .image:hover{
        transform: none;
    }
}

.pic1{
    grid-area: pic1;
}

.pic2{
    grid-area: pic2;
}

.pic3{
    grid-area: pic3;
}

.pic4{
    grid-area: pic4;
}

.pic5{
    grid-area: pic5;
}

.pic6{
    grid-area: pic6;
}

.pic7{
    grid-area: pic7;
}

.pic8{
    grid-area: pic8;
}


.footer { 
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    'column1 column2 column3'
    'bottom4 bottom4 bottom4';
    background-color: grey;
    height: auto;
    margin: 2em 0 0 0;
    bottom: 0;
}

.footer > div{
    width: 100%;
    color: white;
    padding: 1em;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

.columm1{
    grid-area: column1;
    text-align: center;
}

.columm2{
    grid-area: column2;
    text-align: center;
}

.column2 a{
    text-decoration: none;
    display: block;
    color: white;
    
}

.column2 a:hover{
    color: white;
    transform: scaleX(1.3);
}

.columm3{
    grid-area: column3;
    text-align: center;
}

.bottom{
    grid-area: bottom4;
    text-align: center;
}

.bottom p{
    width: 100%;
    margin: 0;
}

.bottom P a{
    text-decoration: none;
    color: white;
}

.sm_logo{
    width: 2em;
    height: 2em;
    margin-top: 3em;
}

.whatsapp a p{
    display: inline;
}

.whatsapp {
    text-decoration: none;
}

.phonenumber{
    color: white;
}


@media only screen and (max-width: 1200px){
    .footer{
        margin-top: 2em;
    }
    
    .columns{
        width: 100%;
        display: block;
        padding: .5em;
        font-size: .5em;
    }
    .sm_logo{
        display: block;
        width: 2em;
        height: 2em;
        margin-top: .5em;
    }
}