/*font-family: 'Armata', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    font-family: 'Armata', sans-serif;
}

nav img{
    width: 3em;
    margin-left: 1em;
}

nav{
    width: 100%;
    background-color: black;
    height: 3em;
    position: fixed;
    z-index: 1;
}

@media only screen and (max-width: 750px) {
       
    nav ul li{
        display: block;
        width: 100%;
        text-align: center;
        background-color: black;
        z-index: 2;
         }
}

nav ul{
float: right;
margin-right: 1em;
}

@media only screen and (max-width: 750px) {
    nav ul{
        display: block;
        width: 100%;
        height: 100vh;
        top: 3em;
        left: -100%;
        margin-right: 0;
        position: fixed;
        transition: all 500ms;
        z-index: 1;
    }
}

nav ul li{
    text-transform: uppercase;
    display: inline-block;
    line-height: 3em;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 0 2em;
}

nav ul li a:hover{
    background-color: rgb(59, 59, 59);
    border-radius: 1em;
    transition: linear 300ms;
}

@media only screen and (max-width: 750px) {
    nav ul li a:hover{
        color:rgb(255, 49, 49);
        background-color: black;
    }
}

.bars{
    width: 1.5em;
    line-height: 3em;
    float: right;
    margin: .6em 2em 0 0;
    display: none;
    
}

@media only screen and (max-width: 750px) {
    .bars{
        display: block;
    }
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
}


#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 0;
}

.info{
    position: fixed;
    bottom: 0;
    background: rgba(63, 45, 45, 0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.info h1{
    font-size: 3em;
}

.info p{
    font-size: 2em;
}

.info p img{
    height: .8em;
}